<section id="contactPaper" ng-show="enableContact">
 	<ol id="contactList">
		<li><label class="email"></label><a href="mailto:lusine@traits.co">lusine@traits.co</a></li>
		<li><label class="email"></label><a href="mailto:lusine.terpetrosyan@gmail.com">lusine.terpetrosyan@gmail.com</a></li>
		<li><label class="linkedin"></label><a href="http://www.linkedin.com/profile/view?id=237842664">Linkedin</a></li>
		<li><label class="facebook"></label><a href="https://www.facebook.com/lusine.terpetrosyan" >Facebook</a></li>
		<li><label class="twitter"></label><a href="https://twitter.com/TLusnyak" >Twitter</a></li>
	</ol>
</section>